<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- My JS files -->
    <script src="../../static/js/product.js"></script>


    <meta charset="UTF-8">
    <title>Product</title>


</head>
<body>

    <!-- <div class="container">
            <div class="col-sm-5">
                <div class="panel panel-primary">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <a href="">Edit</a>
                    </div>
                </div>
            </div>
    </div>  -->


    <div id="d1">fsadfsa</div>
    <div id="d2">fas</div>
    <div id="d3"></div>

</body>
</html>